absl-py==2.1.0
addict==2.4.0
aiobotocore==2.12.3
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
anyio==4.2.0
asciitree==0.3.3
async-timeout==4.0.3
attrdict==2.0.1
attrs==23.2.0
aws-requests-auth==0.4.3
backoff==1.11.1
blosc==1.11.1
blosc2==2.5.1
boto3==1.34.26
botocore==1.34.69
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
cachetools==5.3.2
cellmap-schemas==0.2.0
certifi @ file:///croot/certifi_1700501669400/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
cloud-files==4.21.1
cloud-volume==8.28.0
cloudpickle==3.0.0
colorama==0.4.6
colorlog==6.8.0
compressed-segmentation==2.2.2
compresso==3.2.2
connected-components-3d==3.12.4
connectomics==0.0.1.dev4
contourpy==1.2.0
crackle-codec==0.7.1
crc32c==2.3.post0
crcmod==1.7
cryptography @ file:///croot/cryptography_1702070282333/work
cycler==0.12.1
dask==2023.12.1
dataclasses==0.6
dataclasses-json==0.6.3
deflate==0.5.0
dijkstra3d==1.14.0
dill==0.3.7
distributed==2023.12.1
DracoPy==1.4.0
edt==2.3.2
einops==0.8.0
embreex==2.17.7.post4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fasteners==0.19
fastremap==1.14.1
fibsem-tools==6.3.2
filelock==3.14.0
fill-voids==2.0.6
fonttools==4.47.2
fpzip==1.2.3
frozenlist==1.4.1
fsspec==2023.12.2
gevent==23.9.1
ghp-import==2.1.0
google-api-core==2.15.0
google-auth==2.26.2
google-cloud-appengine-logging==1.4.0
google-cloud-audit-log==0.2.5
google-cloud-core==2.4.1
google-cloud-logging==3.9.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpcio==1.60.0
grpcio-status==1.60.0
h11==0.14.0
h5py==3.10.0
httpcore==1.0.2
httpx==0.26.0
idna @ file:///croot/idna_1666125576474/work
igneous-pipeline==4.20.3
imageio==2.33.1
importlib-resources==6.1.1
importlib_metadata==7.1.0
inflection==0.5.1
iniconfig==2.0.0
jax==0.4.23
jaxlib==0.4.23+cuda11.cudnn86
Jinja2==3.1.3
jmespath==0.10.0
joblib==1.3.2
json5==0.9.14
jsonlines==1.2.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kimimaro==3.3.2
kiwisolver==1.4.5
lazy_loader==0.3
linkify-it-py==2.0.3
llvmlite==0.41.1
locket==1.0.0
lxml==5.1.0
mapbox-earcut==1.0.1
mapbuffer==0.7.1
Markdown==3.5.2
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib==3.8.2
mdit-py-plugins==0.4.0
mdurl==0.1.2
mergedeep==1.3.4
meshparty==1.16.14
mkdocs==1.6.0
mkdocs-exclude==1.0.2
mkdocs-get-deps==0.2.0
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml-dtypes==0.3.2
mmcv-full==1.7.2
model-index==0.1.11
mrcfile==1.5.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.15
multiwrapper==0.1.1
mypy-extensions==1.0.0
ndindex==1.8
networkx==2.8.8
numba==0.58.1
numcodecs==0.12.1
numexpr==2.10.0
numpy==1.24.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvcc-cu11==11.8.89
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.6.50
nvidia-cufft-cu11==10.9.0.58
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
opencv-python==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.1.2
openxlab==0.1.0
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.12
oss2==2.17.0
packaging==24.1
pandas==2.2.0
partd==1.4.1
pathos==0.3.1
pathspec==0.12.1
pbr==6.0.0
Pillow @ file:///croot/pillow_1696580024257/work
Pint==0.20.1
platformdirs==4.2.0
pluggy==1.3.0
plyfile==1.0.3
pooch==1.8.1
posix-ipc==1.1.1
pox==0.3.3
ppft==1.7.6.7
proto-plus==1.23.0
protobuf==4.25.2
psutil==5.9.8
py-cpuinfo==9.0.0
pyairtable==2.3.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycollada==0.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.20.0
pydantic==1.10.15
pydantic-ome-ngff==0.3.0
pydantic-zarr==0.5.1
pyfqmr==0.2.0
Pygments==2.17.2
pymeshfix==0.16.3
pynndescent==0.5.12
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
pysimdjson==5.0.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pyspng-seunglab==1.1.1
pytest==7.4.4
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jsonschema-objects==0.5.2
pytz==2023.3.post1
pyvista==0.43.5
PyYAML==6.0.1
pyyaml_env_tag==0.1
quilt3==5.4.0
referencing==0.32.1
requests==2.28.2
requests-futures==1.0.0
rich==13.4.2
rpds-py==0.17.1
rsa==4.9
Rtree==1.2.0
s3fs==2023.12.2
s3transfer==0.10.0
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.12.0
scooby==0.9.2
shapely==2.0.2
shard-computer==1.1.1
simplejpeg==1.7.2
six==1.16.0
skan==0.11.1
sniffio==1.3.0
sofima @ git+file:///mnt/WGCJ/sofima@45ca4b12ba1fa9777c8c287ccb1b56fafe60b4dc
sortedcontainers==2.4.0
svg.path==6.3
tables==3.9.2
tabulate==0.9.0
task-queue==2.13.0
tblib==3.0.0
tenacity==8.2.3
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
textual==0.16.0
threadpoolctl==3.2.0
tifffile==2023.12.9
tinybrain==1.4.1
tomli==2.0.1
toolz==0.12.1
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.4
tqdm==4.65.2
trimesh==4.0.10
typing-inspect==0.9.0
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2023.4
uc-micro-py==1.0.3
umap==0.1.1
umap-learn==0.5.6
urllib3 @ file:///croot/urllib3_1698257533958/work
vhacdx==0.0.5
vit-pytorch==1.7.0
vtk==9.3.0
watchdog==4.0.0
Werkzeug==3.0.3
wrapt==1.16.0
xarray==2023.12.0
xarray-datatree==0.0.12
xarray-multiscale==2.1.0
xarray-ome-ngff==1.2.3
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zarr==2.17.2
zfpc==0.1.2
zfpy==1.0.0
zict==3.0.0
zipp==3.17.0
zmesh==1.7.1
zope.event==5.0
zope.interface==6.1
zstandard==0.22.0
